/* 
* @Author: San
* @Date:   2015-12-25 09:10:26
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-28 21:00:18
*/
ul,ol,li{
    list-style:none;
}
a{
    text-decoration:none; 
}
.reminder-right{
    
    margin: auto;
    width:1111px;
    height:900px;
    /*
   background:url(../img/background2.jpg);
   */
}
.reninder{
    width:987px;
    height:46px;
    border:1px solid #dedede;
    background:#fff;
}
.reninder1{
    margin: 20px 16px;
    font-size:14px;;
    font-weight:bold;
}
.content{
     width:987px;
    border:1px solid #dedede;
}
.text1{
    margin:30px 16px;
    font-size: 15px;
    font-weight:bold;
    color:#4d4d4d;
}
.text2{
    color:#ff0000;
}
.set{
    width:171px;
    height:32px;
    position: relative; top:-58px; left:260px;
}
.contents{
    margin: -30px 0;
    height:900px;
    width:945px;
}
.content1{
    width:305px;
    height:167px;
    margin-left:20px;
    border:1px solid #dedede;
}

.text3{
    position:relative; top:4px; left:20px;
    font-size:18px;
    color:#5e5e5e;
}
.img1{
    margin: 35px -52px;
}

.img2{
    position:relative; top:-45px; left:155px;
}
.but1{
    width:124px;
    height:30px;
    background:#fff;
    outline:none;
    cursor: pointer;
    font-size:17px;
    color:#5e5e5e;
    border:1px solid #dedede;
    position:relative;
    top:-3px; left:52px;
    font-size:14px;
}
.content2{
    margin:-169px 340px;
    width:305px;
    height:167px;
    border:1px solid #dedede;
}
.text4{
    font-size:18px;
    color:#5e5e5e;
    position:relative;top:75px; left:22px;
}
.img3{
    position:relative; top:40px; left:-50px;
}
.img4{
    position:relative; top:26px; left:50px;
}
.but2{
    width:125px;
    height:30px;
    border:1px solid #dedede;
    position:relative;
    top:44px; 
    left:164px;
    outline:none;
    cursor: pointer;
    font-size:14px;
    color:#5e5e5e;
    background:#fff;
   
}
.content3{
    margin:-169px 659px;
    width:305px;
    height:167px;
    border:1px solid #dedede;
}
.text5{
    font-size:18px;
    color:#5e5e5e;
    position:relative;
    top:72px; 
    left:24px;
}
.img5{
    position:relative;
    top:38px; 
    left:-50px;
}
.img6{
    position:relative;
    top:26px; 
    left:50px;
}
.but3{
    width:125px;
    height:30px;
    background:#fff;
    outline:none;
    cursor: pointer;
    font-size:14px;
    color:#5e5e5e;
    border:1px solid #dedede;
    position:relative;
    top:44px; 
    left:165px;
}

.content4{
    margin:183px 20px;
    width:305px;
    height:167px;
    border:1px solid #dedede;
}
.text6{
    font-size:18px;
    color:#5e5e5e;
    position:relative;;top:72px; left:20px;
}
.img7{
    position:relative;; top:30px; left:-52px;
}
.img8{
    position:relative;; top:20px; left:48px;
}
.but4{
    width:125px;
    height:30px;
    background:#fff;
    outline:none;
    cursor: pointer;
    font-size:14px;
    color:#5e5e5e;
    border:1px solid #dedede;
    position:relative; top:40px; left:163px;
}
.content5{
    margin:-352px 340px;
    width:305px;
    height:167px;
    border:1px solid #dedede;
}
.text7{
    font-size:18px;
    color:#5e5e5e;
    position:relative; top:71px; left:-33px;
}
.img9{
    position:relative; top:30px; left:30px;
}
.img10{
   position:relative; top:20px; left:60px;
}
.but5{
    width:125px;
    height:30px;
    background:#fff;
    outline:none;
    cursor: pointer;
    font-size:16px;
    color:#5e5e5e;
    border:1px solid #dedede;
    position:relative; top:38px; left:163px;
}
.content6{
    margin:183px 660px;
    width:305px;
    height:167px;
    border:1px solid #dedede;
}
.text8{
    font-size:18px;
    color:#5e5e5e;
    position:relative; top:70px; left:25px;
}
.img11{
   position:relative; top:30px; left:-53px;
}
.img12{
     position:relative; top:20px; left:45px;
}
.but6{
    width:125px;
    height:30px;
    background:#fff;
    outline:none;
    cursor: pointer;
    font-size:16px;
    color:#5e5e5e;
    border:1px solid #dedede;
   position:relative; top:38px; left:163px;
}
.picture{
    display: block;
    margin:-340px 1045px;
}
