/* 
* @Author: miles
* @Date:   2015-12-21 19:33:25
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-28 21:58:48
*/
body, div ,a ,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td { 
    margin:0; padding:0;
}
*{
    margin:0;padding:0;
}
ul,ol{
    list-style: none;
}
body{
    font-family: "微软雅黑";
}
input,button{border:none;}
header{
    width: 100%;
    height: 66px;
    background-color: #3D3D3D;
}
.center{
    margin:30px auto;
    width: 1200px;
    height: 885px;
    border: 1px solid #DEDEDE;
}
/*左边*/
.center-left{
    float: left;
    width: 210px;
    height: 885px;
    border-right: 1px solid #DEDEDE;
}
.left-nav-box{
    position: relative;
    height: 885px;
}
/*右边*/
.center-right{
    position: relative;
    float: left;
    height: 883px;
    width: 988px;
    background: #fff;
}
/*账号设置*/
.SetUp{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #DEDEDE;
}
.SetUp span{
    display: inline-block;
    margin:16px 0 0 15px;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: bold;
}
#Added{
    width: 100%;
    height: 71px; 
}
/*新增按钮*/
#newBtn{ 
    float: right;
    margin: 19px 15px 0 0;
    padding-left: 27px;
    width: 94px;
    height: 32px;  
    background: #0188cc url(../images/add.png) no-repeat 10px 10px;
    font-family: "微软雅黑";
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
}
/*店铺*/
#shop{
    margin: 0 auto;
    width: 955px;
    height: 236px;
    border: 1px solid #DEDEDE;
}
.bound-account{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #dedede;
}
.bound-account span{
    display: inline-block;
    padding: 14px 0 0 11px;
    font-size: 13px;
    font-weight: bold;
}
/*店铺名*/
#shopName{
    position: relative;
    margin: 10px auto;
    height: 36px;
    width: 934px;
    font-family: "Arial Regular";
    font-size: 14px;
    border: 1px solid #DEDEDE;
}
#Numbering,
#name,
#edit,
#editShopName,
#save{
    position: absolute;
    top: 10px;
    color: #4d4d4d;
}
#Numbering{
    left: 40px;
    font-weight: bold;
}
#name{
    left: 408px;
    top: 2px;
    padding-left: 10px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
#edit,
#editShopName,
#save{
    left: 516px;
    padding-left: 20px;
    height: 16px;
    background: url(../images/pen.png) no-repeat;
    font-family: "宋体";
    color: #0188CC;
    cursor: pointer;
}
#save{
    left: 600px;
}
/*保存店名*/
#iptName{
    position: absolute;
    left: 408px;
    top: 3px;
    padding-left: 10px;
    width: 180px;
    height: 28px;
    border: 1px solid #DEDEDE;
}
.signature{
    position: absolute;
    right:30px;
    top: 305px;
    font-family: "宋体";
    font-size: 12px;
}