/* 
* @Author: miles
* @Date:   2015-12-21 19:33:25
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-30 18:08:02
*/
body, div ,a ,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td { 
    margin: 0; padding: 0;
}
*{
    margin: 0;padding: 0;
}
ul,
ol{
    list-style: none;
}

input,
button{
    border: none;
}
header{
    width: 100%;
    height: 66px;
    background-color: #3D3D3D;
}
.center{
    margin: 30px auto;
    margin-bottom: 0;
    width: 1200px;
    height: 1100px;
    border: 1px solid #DEDEDE;
    background: #ffffff;
}
/*左边*/
.center-left{
    float: left;
    width: 210px;
    height: 1100px;
    border-right: 1px solid #DEDEDE;
}
.left-nav-box{
    position: relative;
    height: 1100px;
}
/*右边*/
.center-right{
    position: relative;
    float: left;
    height: 1098px;
    width: 988px;
    background: #fff;
    background:url(../images/cz.png) no-repeat;
}
/*账号设置*/
.set-up{
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #DEDEDE;
}
.set-up span{
    display: inline-block;
    margin: 21px 0 0 16px;
    font-family: "宋体";
    font-size: 14px;
    font-weight: bold;
}
/*充值服务*/
.recharge-one{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 955px;
    height: 52px;
    border-bottom: 1px solid #F1881A;
    font-family: "宋体";
}
/*充值服务列表*/
.recharge-one ul{
    position: absolute;
    left: 23px;
    bottom: -1px;
}
.recharge-one ul li{
    float: left;
    width: 106px;
    height: 29px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
/*充值服务列表当前选中*/
.recharge-one ul li.current{
    border: 1px solid #F1881A;
    border-bottom: 1px solid #FFFFFF;
    color: #F1881A;
}

.service{
    margin: 0 auto;
    width: 968px;
    height: 395px;
    border-bottom: 1px dashed #DEDEDE;
}
/*充值内容*/
.preferential{
    margin: 34px 15px 0 12px;
    float: left;
    position: relative;
    width: 299px;
    height: 326px;
    border: 1px solid #00AEFF;
    color: #5e5e5e;
}
.yelloBox{
    position: absolute;
    left: -6px;
    top: 6px;
    width: 300px;
    height: 326px;
    border: 1px solid #F1881A;
}
.preferential h3{
    position:absolute;
    
}
.h{
    left:28px;
    top:50px;
    cursor:pointer;
}
.h2{
    left:23px;
    top:50px;
}
.h3{
    left:2px;
    top:50px;
}
.preferential .p1{
    position:absolute;
    left:76px;
    top:108px;
    cursor:pointer;
}

.preferential span{
    position:absolute;
    left:20px;
    font-family: "黑体";
    line-height: 22px;
    font-size: 16px;
}
.s2{
    top:154px;
}
.s3{
    top:178px;
}
.preferential .three{
    left:43px;
    top:201px;
}
.preferential .four{
    left:20px;
    top:226px;
}
/*充值按钮*/
#btnOne{
    position: absolute;
    left: 50%;
    margin-left: -62px;
    bottom: 27px;
    width: 120px;
    height: 32px;
    background: #F1881A;
    font-family: "微软雅黑";
    color: #FFFFFF;
    cursor: pointer;
}
/*限时图片*/
.LimitedTime{
    position: absolute;
    width: 121px;
    height: 43px;
    left: -7px;
    top: -15px;
}
#tab-one{
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    font-family: "宋体";
    font-size: 12px;
}
/*列宽*/
.first-column{
    width:203px; 
}
.second-column{
    width: 170px;
}
.third-column{
    width: 213px;
}
.fourth-column{
    width: 167px;
}
.fifth-column{
    width: 204px;
}
#recharge-btn{
    width: 66px;
    height: 24px;
    background: #0188CC;
    font-family: "宋体";
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
}
th{
    height:42px;
    line-height: 42px;
    border:1px solid #cccccc;
}
.box{
    position: absolute;
}
/*自定义充值金额*/
.money{
    position:relative;
    margin: 38px auto;
    width: 955px;
    height: 160px;
    font-family: "宋体";
    font-size: 14px;
}
.money label{
    font-weight: bold;
}
.txt-num{
    position:absolute;
    left:-1px;
    top:36px;
}
#custom-txt{
    position:absolute;
    left:117px;
    top:26px;
    padding-left: 10px;
    height: 30px;
    width:150px;
    border: 1px solid #DEDEDE;
}

#atOnceBtn{
    position:absolute;
    left:288px;
    top:25px;
    width: 93px;
    height: 32px;
    background: #0188CC;
    font-family: "宋体";
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}
/*充值金额表格*/
table,td{
    border: 1px solid #ccc; 
    border-collapse: collapse;
}

#tab{
    position:absolute;
    top:77px;
    font-family: "宋体";
    text-align: center;
    line-height: 30px;
}
th{
    width:150px;
    height:32px;
    line-height: 32px;
    font-weight: 100;
    border: 1px solid #cccccc;
}
#tab a{
    text-decoration: none;
    color: #4D4D4D;
}
#tab a:hover{
    color: #F1881A;
}
.first-row{
    font-size: 14px;
    font-weight: bold;
    background: #DEDEDE;
}