/* 
* @Author: miles
* @Date:   2015-12-21 19:33:25
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-29 14:42:11
*/
body, div ,a ,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td { 
    margin:0; padding:0;
}
*{
    margin:0;padding:0;
}

ul,ol{
    list-style: none;
}
input,button{border:none;}
header{
    width:100%;
    height:66px;
    background-color: #3D3D3D;
}
.center{
    margin:30px auto;
    margin-bottom: 0;
    width:1200px;
    height:1750px;
    border:1px solid #DEDEDE;
    background: #ffffff;
}
/*左边*/
.center-left{
    float:left;
    width:210px;
    height:1750px;
    border-right: 1px solid #DEDEDE;
}
.left-nav-box{
    position: relative;
    height: 1750px;
}
/*右边*/
.center-right{
    position:relative;
    float:left;
    height:1747px;
    width:988px;
    background:#fff;
}
/*客户分析字符串*/
#top{
    padding-left: 15px;
    position:relative;
    height:45px;
    width:988px;
    border-bottom: 1px solid #DEDEDE;
    font-family: "微软雅黑";
    font-size: 15px;
    color:#4D4D4D;
    font-weight: bold;
    background-color: #fff;
    line-height: 45px;
}
#top span{
    display: inline-block;
    margin-top: 5px;
}
/*账号切换*/
.account-switching{
    position:absolute;
    top:5px;
    right:20px;
    width:167px;
    height:32px;
    border:1px solid #DEDEDE;
}
.account-switching button,
.account-switching input{
    float:left;
}
.account-switching input{
    padding-left: 10px;
    width: 136px;
    height: 30px;
    border-right: 1px solid #DEDEDE;
    color: #b3b3b3;
}
/*账号切换按钮*/
.account-switching button{
    width:28px;
    height:30px;
    background:url(../images/button.png) no-repeat center center;
    cursor:pointer;
}
#account-num-select{
    display:none;
    position:absolute;
    left:93px;
    top:30px;
    z-index: 99;
}
/*切换账号列表*/
#account-num-select ul li{
    height:28px;
    line-height: 28px;
    background-color: #FFFFFF;
    cursor:pointer;
}
#account-num-select ul li:hover{
    background-color: #0188CC;
}
.data-analysis{
    margin:20px auto;
    width:955px;
    height:778px;
    border:1px solid #DEDEDE;
    font-family: "微软雅黑";
    font-size: 13px; 
}
/*国家分布字符窜*/
.added{
    padding-left: 20px;
    width:100%;
    height:38px;
    background:#F7F7F7;
    border-bottom: 1px solid #DEDEDE;
    line-height: 39px;
    font-size: 13px;
    font-weight: bold;
}
/*时间*/
.timer{
    position:relative;
    height:65px;
    width:100%;
    background:#F7F7F7;
    font-size: 13px;
}
.timer span{
    position:absolute;
    left:20px;
    top:24px;
}
.timer ul{
    position:absolute;
    left:70px;
    top:16px;
    border:1px solid #DEDEDE;

}
/*时间列表*/
.timer ul li{
    padding:8px 43px;
    margin-left: -1px;
    float:left;
    border-left: 1px solid #DEDEDE;
    background: #ffffff;
    cursor: pointer;
}
.timer ul li.timer-current{
    color:#0188CC;
    font-weight: bold;
}
.timer ul li:last-child{
    padding:0;
    height:30px;
}
#sel{
    padding:0 10px;
    height:30px;
    border:none;
}
.countries{
    height:674px;
    width:100%;
    background:#FFFFFF;
    border-bottom: 1px solid #DEDEDE;
}
.distributed{
    position:relative;
    width:100%;
    height:256px;
}
/*国家圆图片*/
.garden{
    position:absolute;
    left:86px;
    top:22px;
    width:200px;
    height:198px;
    background:url(../images/distributed.png) no-repeat;
}
/*单位*/
.unit{
    position:absolute;
    right:200px;
    top:34px; 
}
/*国家分布*/
.country,.country-two{
    position:absolute;
    left:340px;
    top:78px; 
    width:266px;
    height:108px;
}
.country span,.country-two span{
    display:inline-block;
    margin-right:5px;
    width:8px;
    height:8px;
    background:#F79646;
}
.country ul li,.country-two ul li{
    float:left;
    width:83px;
    height:22px;
}
.country ul li:first-child,
.country-two ul li:first-child{
    margin-right: 17px;
}
/*国家前面的颜色*/
#LightBlue{
    background:#4BACC6;
}
#purple{
    background:#8064A2;
}
#blue{
    background:blue;
}
#darkGreen{
    background:#31859C;
}
.country-two{
     left:600px;
}
#red{
    background:#EF5782;
}
/*地图*/
.map{
    position:relative;
    width:100%;
    height:410px;
    background:url(../images/map.png) no-repeat;
}
/*澳大利亚*/
.australia{
    position:absolute;
    right:184px;
    bottom:50px;
    width:130px;
    height:90px;
    border:1px solid #E6E6E6;
}
.australia p{
    padding:6px 0 6px 6px;
    font-family: ""宋体;
    font-size: 12px;
}
.australia p:first-child{
    margin-bottom: 8px;
    border-bottom: 1px solid #DEDEDE;
    background:#F7F7F7;
    font-family: "微软雅黑";
    font-size: 13px;
}
/*购买高峰时段*/
.peak-hours,.client{
    margin:0 auto;
    width:955px;
    height:466px;
    border:1px solid #DEDEDE;
}
/*趋势*/
.trend{
    width:100%;
    height:332px;
    background:red;
}
/*客户*/
.client{
    margin-top: 20px;
    height:340px;
}
.new-customer{
    position:relative;
    width:100%;
    height:234px;
}
.left,.right,.new,.old{
    position:absolute;
}
.left,
.right{
    font-size: 14px;
    font-weight: bold;   
}
.left{
    left:220px;
    top:30px;
    color:#0188CC;
}
.right{
    top:30px;
    right:220px;
}
/*新客户*/
.new{
    width:67px;
    height:89px;
    left:206px;
    top:60px;
    background:url(../images/Customer_r1_c1.png) no-repeat; 
}
/*老客户*/
.old{
    width:67px;
    height:89px;
    right:206px;
    top:60px;
    background:url(../images/Customer_r1_c3.png) no-repeat;
}
.orders-left,.orders-right{
    font-size: 13px;
    position:absolute;
    bottom:52px; 
}
.orders-left{
    left:186px;    
}
.orders-right{
    right:200px;
}
.orders-left span{
    color:#0188CC;
}
.new-left,.old-right{
    position:absolute;
    top:94px;
    font-size: 30px; 
}
.new-left{
    left:286px;
    color:#0188CC; 
}
.old-right{
    right:104px; 
}
