/* 
* @Author: miles
* @Date:   2015-12-21 19:33:25
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-28 21:16:00
*/
body, div ,a ,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td { 
    margin:0; padding:0;
}
*{
    margin:0;padding:0;
}
ul,ol{
    list-style: none;
}
input,button{border:none;}
header{
    width:100%;
    height:66px;
    background-color: #3D3D3D;
}
.center{
    margin:30px auto;
    width:1200px;
    height:1608px;
    border:1px solid #DEDEDE;
}
/*左边*/
.center-left{
    float:left;
    width:210px;
    height:1608px;
    border-right: 1px solid #DEDEDE;
}
.left-nav-box{
    position: relative;
    height: 1608px;
}
/*右边*/
.center-right{
    position:relative;
    float:left;
    height:1606px;
    width:988px;
    background:#fff;
}
/*数据分析*/
#top{
    padding-left: 15px;
    position:relative;
    height:45px;
    width:988px;
    border-bottom: 1px solid #DEDEDE;
    font-family: "微软雅黑";
    font-size: 15px;
    color:#4D4D4D;
    font-weight: bold;
    background-color: #fff;
    line-height: 45px;
}
#top span{
    display: inline-block;
    margin-top: 5px;
}
/*账号切换*/
.account-switching{
    position:absolute;
    top:5px;
    right:20px;
    width:167px;
    height:32px;
    border:1px solid #DEDEDE;
}
.account-switching button,
.account-switching input{
    float:left;
}
.account-switching input{
    padding-left: 10px;
    width: 136px;
    height: 30px;
    border-right: 1px solid #DEDEDE;
    color: #b3b3b3;
}
/*账号切换按钮*/
.account-switching button{
    width:28px;
    height:30px;
    background:url(../images/button.png) no-repeat center center;
    cursor:pointer;
}
#account-num-select{
    display:none;
    position:absolute;
    left:93px;
    top:30px;
    z-index: 99;
}
/*切换账号列表*/
#account-num-select ul li{
    height:28px;
    line-height: 28px;
    background-color: #FFFFFF;
    cursor:pointer;
}
#account-num-select ul li:hover{
    background-color: #0188CC;
}
/*指标*/
.targe{
    margin:20px 0 0 15px;
    width:955px;
    height:218px;
    border:1px solid #DEDEDE;
}
/*最近30天指标字符串*/
.targe-text{
    margin-bottom: 30px;
    padding-left: 10px;
    height:38px;
    width:955px;
    line-height: 38px;
    background:#DEDEDE;
    font-size: 13px;
    font-weight: bold;
}
.targe-center{
    width:956px;
    height:136px;
}
/*详细指标数据*/
.marketing,.reminders,.order-form,.grand-total{
    padding:20px 0 20px 16px;
    float:left;
    margin-left: 20px;
    width:212px;
    height:134px;
    color:#fff;

}
/*营销成功率*/
.marketing{
    
    background:#FF5454;
    border:1px solid #ff1c1c;
}
/*催付成功率*/
.reminders{
    background:#23B7E5;
    border:1px solid #05aee2;
}
/*订单纠纷率*/
.order-form{
    background:#FABB3D;
    border:1px solid #ffaf10;
}
/*累计发送短信*/
.grand-total{
    background:#5D9CEC;
     border:1px solid #277ce8;
}
.marketing h3,
.reminders h3,
.order-form h3,
.grand-total h3{
    margin-bottom: 10px;
    font-size: 30px;
}

.success{
    font-size: 14px;
    padding-bottom:10px;
}
.send{
    margin-bottom: 4px;
    padding-bottom: 2px;
    font-size: 12px;
}
#article{
    font-size: 14px;
}
/*发送数量*/
.data-analysis{
    margin:30px auto;
    width:955px;
    height:1250px;
    border:1px solid #DEDEDE; 
}
/*数据*/
.added{
    width:100%;
    height:38px;
    background:#F7F7F7;
    border-bottom: 1px solid #DEDEDE;
    font-size: 13px;
}
/*数据列表*/
.added ul li{
    float:left;
    width:86px;
    text-align: center;
    line-height: 39px;
    cursor:pointer;
}
.added ul li:first-child{
    font-weight: bold;
}
.added ul li.current{
    background:#0188CC;
    color:#FFFFFF;
}
/*时间*/
.timer{
    position:relative;
    height:65px;
    width:100%;
    background:#F7F7F7;
    font-size: 13px;
}
/*时间字符串*/
.timer span{
    position:absolute;
    left:20px;
    top:24px;
}
/*时间列表*/
.timer ul{
    position:absolute;
    left:70px;
    top:16px;
    border:1px solid #DEDEDE;
    background: #ffffff;
}
.timer ul li{
    padding:8px 43px;
    margin-left: -1px;
    float:left;
    border-left: 1px solid #DEDEDE;
    cursor: pointer;
}
.timer ul li:last-child{
    padding:0;
}
/*当前选中列表*/
.timer ul li.timer-current{
    color:#0188CC;
}
/*选择表单*/
#sel{
    padding:0 10px;
    height:32px;
    border:none;
}
/*趋势*/
.trend{
    height:354px;
    width:100%;
    background:red;
}
/*蓝色小块*/
.Piece{
    display:inline-block;
    margin:20px 0 0 20px;
    width:4px;
    height:14px;
    background:#0188CC;
}
.detailed-data{
    font-size: 13px;
}
/*详细数据表格*/
table,td{
    border:1px solid #ccc; border-collapse:collapse;
}
#tab{
    margin:20px auto;
    text-align: center;
    line-height: 36px;
    font-family: "Arial Regular";
    font-size: 13px;
}
.forst-row{
    font-family: "微软雅黑";
    background: #fbfbfb;
}
.second-column{
    background: #fbfbfb;
}
/*页数*/
.page{
    position:absolute;
    left:50%;
    bottom:100px;
    margin-left: -131px;
    width:262px;
    height:30px;
    font-family: "Arial Regular";
}
/*页数列表*/
.page li{
    float:left;
    margin-left: -1px;
    width:26px;
    height:28px;
    text-align: center;
    line-height:28px;
    border:1px solid #DEDEDE;
    cursor: pointer;
}
/*当前页*/
.page li.page-current{
    background:#0188CC;
    color: #ffffff;
}

.page li:nth-child(7){
    border:none;
}
#btn-left,#btn-right{
    position:absolute;
    width:26px;
    height:28px;
    border:1px solid #DEDEDE;
    background: #ffffff;
}
#btn-left{
    left:-26px;
}
#btn-right{
    margin-left: -1px;
}