
.home-small-icon,.noti-fications i,.battlelog-details i{
	position: absolute;
	background-image: url(../images/home/home-small-icon.png);
}

/*半透明遮照层*/
.protective-layer{
	/*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.4);
	z-index: 1000;
}
.material-perfect{
	position: absolute;
	top: 300px;
	left: 50%;
	width: 518px;
	height: 426px;
	margin-left: -260px;
	border:1px solid #ccc;
	background-color: #fff;
	background-image: url(../images/home/material-perfect-background.png);
	color: #4c4c4c;
	font-family: "宋体";
}
.material-perfect h2{
	text-indent: 21px;
	line-height: 37px;
    border-bottom: 1px solid #ccc;
    background-color: #e9e9e9;
    font-size: 14px;
}
.material-perfect > p{
	color: red;
	font-size: 12px;
	text-indent: 40px;
}
.material-input{
	margin-top: 20px;
	padding-right: 219px;
	text-align: right;
}
.material-input input{
	width: 180px;
	height: 30px;
}
.material-form label{
	font-size: 14px;
}
.acquire-verification{
	position: absolute;
	padding: 0 18px;
	margin-left: 10px;
	background-color: #f1881a;
	font-size: 12px;
	cursor: pointer;
	line-height: 30px;
}
.open-remind{
	text-indent: 54px;
}
.submit-box{
	margin-top: 14px;
	margin-left: 230px;
}
.submit-box input{
	width: 60px;
	height: 32px;
	border:none;
	background-color: #0188cc;
}

/*首页内容部分（home-conter）*/
.c-4d{
	color: #4c4c4c;
}
.home{
    padding-bottom: 29px;
}
.home-conter-box{
	padding: 29px 15px 0;
}
.focus-Picture{
	width: 658px;
	height: 240px;
	line-height: 0;
}
.send-Messages-box{
	width: 280px;
	height: 240px;
	border: 1px solid #dedede;
	color: #4c4c4c;
	font-family: "宋体";
}
.send-Messages{
	margin:19px 10px 0;
}
.phone-number-input,.send-Messages select,.send-Messages textarea{
	border: 1px solid #dedede;
	color: #4c4c4c;
}
.send-Messages-box h2,.account-detail-box h3{
	border-bottom: 1px solid #dedede;
	background-color: #f7f7f7;
	line-height: 30px;
	font-size: 14px;
	text-indent: 10px;
}
.height30,.send-Messages select,.phone-number-input,.send-note-submit{
	height: 30px;
}

.send-Messages select{
	width: 106px;
}
.phone-number-input{
	width: 142px;
}
.send-Messages textarea{
	width: 258px;
	height: 90px;
}
.send-note-submit-box{
	margin-top: 13px;
	text-align: center;
}
.send-note-submit{
	width: 100px;
	border: none;
	background-color: #0188cc;
}

/*通告（noti-fications）*/
.noti-fications-box{
	margin-top: 30px;
	font-family: "宋体";
}
.noti-fications{
	padding-bottom: 10px;
	font-size: 13px;
	line-height: 30px;
	text-indent: 10px;
}
.noti-fications a{
	color: #4c4c4c;
}
.noti-fications li{
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #dedede;
	background-color: #ffd9b2;
}
.noti-fications i{
	top: 5px;
	right: 20px;
	width: 20px;
	height: 20px;
	background-position: 0 -120px;
	cursor: pointer;
}

/*账号详情*/
.account-detail-box{
	border: 1px solid #dedede;
    padding: 19px 10px 54px;
}
.switch-account-box{
	padding-bottom: 10px;
	text-align: right;
}
.switch-account{
	width: 168px;
	height: 32px;
}
.battlelog-details{
	width: 936px;
	margin-right: -1px;
	padding: 19px 10px 0;
}
.battlelog-details p span{
	font-size: 36px;
	font-family: "Arial";
}
.battlelog-details .li1{
	background-color: #2f80e7;
}
.battlelog-details .li2{
	background-color: #564aa3;
}
.battlelog-details .li3{
	background-color: #2b957a;
}
.battlelog-box{
	border: 1px solid #dedede;
	padding-bottom: 40px;
}
.battlelog-details li{
	position: relative;
    width: 292px;
    padding-right: 97px;
    font-size: 18px;
    text-indent: 30px;
}
.battlelog-details .li1 h4,.battlelog-details .li1 p{
	background-color: #5d9cec;
}
.battlelog-details .li2 h4,.battlelog-details .li2 p{
	background-color: #7266ba;
}
.battlelog-details .li3 h4,.battlelog-details .li3 p{
	background-color: #37bc9b;
}
.battlelog-details h4{
	padding-top: 19px;
}
.battlelog-details p{
	padding-top: 17px;
	padding-bottom: 8px;
}
.battlelog-details i{
	display: inline-block;
	top: 29px;
	right: 25px;
	width: 48px;
	height: 40px;
}
.new-indent-img{
	background-position: -40px 0;
}
.new-client-img{
	background-position: -40px -40px;
}
.note-send-img{
	background-position: -40px -80px;
}
/**/
.client-curve{
	border: 1px solid #dedede;
}