/* 
* @Author: San
* @Date:   2015-12-22 15:35:55
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-29 18:20:16
*/
.Dir-right{
  width:994px;
  height:1277px;
  margin:auto;
  border:1px solid #dedede;
}
.Directories{
    width:993px;
    height:46px;
    border:1px solid #dedede;
    background:#fff;
}
.dir1{
    margin-left:16px;
    font-weight:bold;
}
.number{
    width:171px;
    height:32px;
    position: relative; top:-43px; left:802px;
}
.Example{
    margin:28px 16px ;
    width:956px;
    height:274px;
    border:1px solid #dedede;
}
.excel{
    position: relative; top:-248px; left:225px;
    color:#32c2cd;
    font-weight:bold;
    font-size:20px;
     
}
.table1{
    width:414px;
    height:100px;
    border-left:1px solid #dedede;
    position: relative; top:-270px; left:331px;

}
.tab1{
    margin: -54px 10px;
    border-collapse: collapse;
    border:1px solid #dedede;
}
.exc{
    text-align:center;
    font-size: 1px;
    line-height: 0px;
    color:#4d4d4d;
}
.txt{
    position: relative; top:-206px; left:463px;
    color:#2590cf;
    font-weight:bold;
    font-size:20px; 
}
.table2{
    position: relative; top:-283px; left:544px;
    width:414px;
    height:100px;
    border-left:1px solid #dedede;
}
.tab2{
    margin:10px 10px;
    border-collapse: collapse;
    border:1px solid #dedede;
}
.exc2{
    font-size: 1px;
    line-height: 0px;
    color:#4d4d4d;
}
.add{
    width:100px;
    height:30px;
    border:none;
    float:right;
    margin-right: 15px;
    background:#0188cc;
    font-size:17px;
    color:#fff;
    cursor: pointer;
} 
.opinion{
    width:69px;
    height:69px;
    position: relative; left:1090px; top:-40px;
    display:block;
}
span{
     font-size:16px;
     color:#fff;
}
.preview{
    margin:-10px 16px;
    width:957px;
    height:30px;
    border:1px solid #dedede;
    background:#f5f5f5;
}
.big-tab{
    width:957px;
    height:819px;
    margin:8px 16px;
    border-top: 1px solid #dedede;
}
.dir2{
    margin:6px 16px;
    font-weight:bold;
}
.lab{
    margin:10px 50px;
}
.text1{
    position: relative; top:-37px; left:30px;
}
.text2{
    position: relative; top:-79px; left:86px;
    border:1px solid #dedede;
    background:#fff;
    outline:none;
    width:55px;
    height:30px;
    font-size:15px;
    cursor: pointer;
}
.form{
    margin-top: -30px;
}
.text3{
    border:1px solid #dedede;
    background:#0188cc;
    color:#fff;
    outline:none;
    width:106px;
    height:30px;
    font-size:15px;;
}
.text4{
    border:1px solid #dedede;
    background:#fff;
    outline:none;
    width:106px;
    height:30px;
    font-size:15px;;
}
.pop-up-box{
    display:inline;
    border:1px solid #dedede;
    width:260px;
    height:123px;
    background:#fff;
    position: absolute;top:535px;left:503px;
}
.preview-tab{
    margin-left: -20px;
    margin-top: -67px;
    overflow-y:scroll;
}
.div{
    height:650px;
}
.preeview-tab1{
    margin-left:50px;
    width:880px;
    line-height:40px;
    text-align:center;
    border-collapse: collapse;
    border:1px solid #dedede; 
}
.but{
    position: relative; top:23px; left:450px;
    display:inline;
}
.pre{
    width:70px;
    height:30px;
    border:none;
    background:#0188cc;
    font-size:17px;
    color:#fff;
    cursor: pointer;
}
