/*引导页(lead)*/
em{
    font-style: normal;
}
.height760{
    height: 760px;
}
/*页眉*/
.loding-type{
    width: 120px;
    height: 30px;
    margin-top: 17px;
    margin-bottom: 17px;
    background-color: #0188cc;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.lead{
    height: 500px;
    background-image: url(../images/lead/sky1.png);
}
.focus-picture{
    width: 708px;
    height: 329px;
    margin-top: 86px;
    margin-left: 57px;
    background-image: url(../images/lead/focus-picture.png);
}
.landing-box{
    position: relative;
    width: 293px;
    margin-top:90px;
    margin-right: 32px;
    padding:28px 27px;
    color: #fff;
    font-family: "宋体";
    font-size: 12px;
}
.landing-box:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    border-radius: 10px;
    background-color: #fff;
    opacity: .1;
}
.landing-content{
    position: relative;
}
.landing-box h2{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    font-size: 14px;
}
.user-landing{
    padding-top: 8px;
}
.user-landing>div{
    margin-top: 18px;
}
.user-landing i{
    position: absolute;
    width: 24px;
    height: 20px;
    margin: 4px 0 0 6px;
    background: url(../images/lead/landing-img.png);
}
.password-box i{
    background-position: 0 -30px;
}
.username-box input,.password-box input{
    width: 100%;
     height: 30px;
    border:1px solid #0099ff;
    text-indent: 35px;
}
.landing-button input{
    width: 100%;
     height: 30px;
    border:none;
    background-color: #f1891c;
    color: #fff;
    font-size: 14px;
    font-weight:bold;
}
.fffc00{
    color: #fffc00;
}
.aliexpress-landing{
    margin-top: 20px;
    text-indent: 24px;
}
.aliexpress-landing i{
     position: absolute;
    width: 24px;
    height: 24px;
    margin:-6px 0 0 -30px;
    background: url(../images/lead/landing-img.png);
     background-position: 0 -60px;
}
.aliexpress-landing a{
    margin-right: 5px;
    padding: 6px;
    background-color: #f1891c;
    color: #fff;
}
/*营销*/
.marketing-box,.subtool-box{
    position: relative;
    background-color: #fff;
    color: #4d4d4d;
}
.online-consultant{
    position: absolute;
    right: 0;
    top: 0;
    width: 57px;
    height: 69px;
    border:1px solid #ccc;
    padding-top: 45px;
    background: url(../images/lead/consult-icon.png) no-repeat 17px 10px;
    font-size: 12px;
    text-align: center;
}
.marketing-box h2,.advantage-box h2,.subtool-box h2,.marketing-case h2{
    padding-top: 60px;
    text-align: center;
    font-size: 36px;
}
.discounts-box{
    position: relative;
    height: 422px;
    margin-top: 190px;
    background: url(../images/lead/discounts-img.png) no-repeat center;
}
.discounts-explain,.messages-marketing{
    position: absolute;
    text-align: left;
}
.discounts-explain{
    top: -126px;
    left: 202px;
    width: 398px;
    height: 189px;
    background: url(../images/lead/discounts-explain.png) no-repeat center;
}
.discounts-explain p{
    margin-top: 50px;
    padding: 0 25px;
    color: #4d4d4d;
    font-size: 14px;
    line-height: 25px;
}
.messages-marketing{
    top: -100px;
    left: 682px;
    width: 315px;
    color: #4d4d4d;
}
.messages-marketing h3{
    margin-bottom: 10px;
    font-size: 24px;
}
.messages-marketing p{
    font-size: 16px;
    line-height: 25px;
}
.discounts-box li{
    list-style: none;
    position: absolute;
    width: 135px;
    height: 135px;
    border-radius: 68px;
    font-size: 20px;
    line-height: 135px;
    text-align: center;
}
.discounts-box li a{
    color: #fff;
}
.discount{
    top: 90px;
    left: 320px;
    background-color: #fc9c10;
}
.festival-greetings{
    top: 90px;
    left: 735px;
    background-color: #25a2ef;
}
.coupon-inform{
    top: 290px;
    left: 412px;
    background-color: #65c8d5;
}
.more{
    top: 290px;
    left: 695px;
    background-color: #ff5050;
}

/*优势（advantage）*/
.advantage-box{
    background-color: #fafafa;
    color: #4d4d4d;
}
.cellphone-exhibition{
    background: url(../images/lead/cellphone-exhibition.png) no-repeat 577px 243px;
}
.cellphone-exhibition > p{
    font-size: 24px;
    text-align: center;
}
.advantage-box em,.subtool-box em{
    color: red;
}
.marketing-advantage{
    list-style: none;
    margin-top: 202px;
    margin-left: 170px;
    font-size: 24px;
}
.marketing-advantage li{
    margin-bottom: 23px;
}
.marketing-advantage i{
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 8px 0 0 -17px;
    background-image: url(../images/lead/small-circle.png);
}
.Precise{
    background-position: 0 -48px;
}
.legible{
    background-position: 0 -104px;
}

/*功能介绍（subtool）*/
.subtool-box em,.marketing-case em{
    margin-right: 9px;
    font-size: 20px;
    font-weight: 600;
}
.subtool-box p{
    margin-left: 250px;
    margin-top: 60px;
}
.member-marketing,.order-payment{
    padding-bottom: 200px;
}
.member-marketing{
    background: url(../images/lead/member-marketing.png) no-repeat 293px 50px;
}
.order-payment{
    background: url(../images/lead/order-payment.png) no-repeat 349px 50px;
}

/*营销案例(marketing-case)*/
.marketing-case{
    background-color: #fafafa;
    color: #4d4d4d;
}
.marketing-case p{
    margin-top: 60px;
    margin-left: 167px;
}
.case-data{
    margin-left: 167px;
    margin-top: 30px;
    border:1px solid #ccc;
    background: url(../images/lead/case-data-background.png) repeat-x;
}
.case-data th,.case-data td{
    width: 140px;
    border-right: 1px solid #ccc;
    font-family: "宋体";
    text-align: left;
    text-indent: 9px;
}
.case-data th{
    padding-top: 12px;
}
.case-data td{
    padding-top: 2px;
    padding-bottom: 11px;
}
.data-wheel{
    width: 373px;
    height: 373px;
    margin-left: 177px;
    margin-top: 93px;
    background-image: url(../images/lead/data-wheel.png);
    font-size: 24px;
    line-height: 373px;
    text-align: center;
}
.data-distribute{
    width: 429px;
    height: 360px;
    margin-right: 75px;
    margin-top: 105px;
    background: url(../images/lead/data-distribute.png) no-repeat bottom;
    font-size: 24px;
    text-indent: 260px;
}
/*底部引导购买（lead-buy）*/
.lead-buy-box{
    background-color: #fff;
    padding-bottom: 35px;
}
.lead-buy{
    list-style: none;
    width: 1012px;
    margin: 0 auto;
    padding-top: 60px;
}
.lead-buy i{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: -2px;
    background-image: url(../images/lead/lead-buy.png);
}
.payment-care-img{
    background-position: 0 -50px;
}
.remind-img{
    background-position: 0 -100px;
}
.shipments-care-img{
    background-position: -50px 0px;
}
.sign-care-img{
    background-position: -50px -50px;
}
.refund-care-img{
    background-position: -50px -100px;
}
.lead-buy li{
    width: 33.3333333%;
    margin-bottom: 50px;
    text-indent: 10px;
}
.lead-buy li p{
    margin-top: 10px;
}
.lead-buy-box p{
    color: #999;
     font-size: 12px;
}
.lead-buy-box>p{
    text-align: center;
}