.ml5{
    margin-left: 5px;
}
.lead-img{
    background: url(../images/lead/lead-img.png);
}
.focus-img{
    height: 500px;
    background: url(../images/lead/focus.png);
}
}
/*引导页(lead)*/
em{
    font-style: normal;
}
.height760{
    height: 760px;
}
/*页眉*/

.header-lead{
    height: 65px;
    border-bottom: 1px solid #434343;
    background-color: #3d3d3d;
}
.lead-logo-box{
    width: 295px;
    height: 64px;
    background: url(../images/lead/lead-logo.png);
}
.loding-type{
    width: 120px;
    height: 30px;
    margin-top: 17px;
    background-color: #0188cc;
    color: #fff;
    font-size: 14px;
    font-family: "宋体";
    line-height: 30px;
    text-align: center;
}
.loding-type a{
    color: #fff;
}

/*焦点图*/
.focus-picture-box{
    height: 500px;
    background-image: url(../images/lead/sky1.png);
}
.focus-picture{
    width: 708px;
    height: 329px;
    margin: 90px 0 0 57px;
    background-image: url(../images/lead/focus-picture.png);
}
.landing-box{
    position: relative;
    width: 293px;
    height: 320px;
    margin:90px 31px 0 0;
    border-radius: 9px;
    padding: 20px 26px 0;
    background-color: rgba(255,255,255,.1);
    color: #fff;
    font-family: "宋体";
    font-size: 12px;
}
.landing-content{
    position: relative;
}
.retrieve-password{
    margin-top: 15px;
}
.retrieve-password input{
    width: 12px;
    height: 12px;
}
.retrieve-password .div1{
    margin-top: -2px;
}
.landing-box h2{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    font-size: 14px;
}
.user-landing{
    padding-top: 18px;
}
.user-landing i{
    position: absolute;
    width: 24px;
    height: 20px;
    margin: 4px 0 0 6px;
    background: url(../images/lead/landing-img.png);
}
.password-box i{
    background-position: 0 -30px;
}
.password-box,.username-box{
    margin-top: 20px;
}
.username-box input,.password-box input{
    width: 100%;
    height: 30px;
    border:1px solid #0099ff;
    text-indent: 35px;
}
.landing-button{
    margin-top: 10px;
}
.landing-button input{
    width: 100%;
     height: 36px;
    border:none;
    background-color: #f1891c;
    color: #fff;
    font-size: 14px;
    font-weight:bold;
    line-height: 36px;
}
.landing-content a{
    color: #fffc00;
}
.register-now{
    margin-top: 18px;
}
.aliexpress-landing{
    margin-top: 25px;
    text-indent: 24px;
}
.aliexpress-landing i{
    position: absolute;
    width: 24px;
    height: 24px;
    margin:-6px 0 0 -30px;
    background: url(../images/lead/landing-img.png);
    background-position: 0 -60px;
}
.aliexpress-landing a{
    margin-right: 5px;
    padding: 6px;
    background-color: #f1891c;
    color: #fff;
}
/*短信营销*/
.marketing-box{
    height: 762px;
    line-height: 0px;
}

/*短信营销的优势（advantage）*/
.cellphone-exhibition{
    height: 760px;
    background-color: #fafafa;
    line-height: 0px;
}
/*功能介绍（subtool）*/
.order-payment{
    height: 760px;
}


.lead3{
    background: url(../images/lead/lead3.png);
}
.marketing-case h2{
    padding-top: 58px;
    text-align: center;
    font-size: 36px;
}
.marketing-case em{
    margin-right: 9px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}
.marketing-case{
    background-color: #fafafa;
    color: #4c4c4c;
}
.marketing-case p{
    margin: 61px 0 0 109px;
    color: #4d4d4d;
}
.case-data{
    overflow: hidden;
    width: 984px;
    margin: 31px 0 0 108px;
    border:1px solid #ccc;
    background: url(../images/lead/case-data-background.png) repeat-x;
}
.case-data th,.case-data td{
    width: 141px;
    border-right: 1px solid #ccc;
    text-align: left;
    text-indent: 10px;
}
.case-data th{
    padding-top: 13px;
    font-family: "宋体";
    font-size: 14px;
}
.case-data td{
    padding: 6px 0 13px;
    font-family: "Arial";
    font-size: 12px;
}
.data-wheel{
    width: 1200px;
    height: 472px;
    margin-top: 23px;
}
.footer-lead{
    height: 286px;
}
