/* 
* @Author: miles
* @Date:   2015-12-21 19:33:25
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-28 21:03:08
*/
body, div ,a ,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td { 
    margin:0; padding:0;
}
*{
    margin:0;padding:0;
}
ul,
ol{
    list-style: none;
}
header{
    width:100%;
    height:66px;
    background-color: #3D3D3D;
}
.center{
    margin:30px auto;
    width:1200px;
    height:910px;
    border:1px solid #DEDEDE;
}
/*左边*/
.center-left{
    float:left;
    width:210px;
    height:912px;
    border-right: 1px solid #DEDEDE;
}
/*右边*/
.center-right{
    position:relative;
    float:left;
    height:908px;
    width:988px;
    background:#fff;
    font-family: "宋体";
    font-size: 14px;
}
/*营销管理*/
.set-up{
    width:100%;
    height:45px;
    border-bottom: 1px solid #DEDEDE;
    font-weight: bold;
}
.set-up span{
    display: inline-block;
    margin:20px 0 0 16px;
}
/*计划*/
.plan{
    margin:30px 0;
    height:50px;
}
.plan-name,
.created,#btn{
    float:left;
    margin-left:30px;
}
.plan-name label,
.created label{
    font-weight: bold;
}
.tilde{
    position: relative;
    top: 10px;
}
#plan-txt{
    width:198px;
    height:28px;
}
#time-txt-one,#time-txt-two{
    padding-left: 10px;
    width: 158px;
    height: 28px;
    background: url(../images/biao.png) no-repeat 128px 5px;
    border: 1px solid #bbb; 
}
/*搜索按钮*/
#btn{
    margin-left: 20px;
    border: none;
    width: 60px;
    height: 30px;
    background-color: #0188CC;
    color: #FFFFFF;
    cursor: pointer;
}
/*表格*/
table,td{
    border:1px solid #ccc; 
    border-collapse: collapse;
}
#tab{
    margin:0 auto;
    font-size: 12px;
    text-align: center;
    line-height: 50px;
}
.first,
.two,
.three,
.four,
.five{
    width: 158px;
}
.first-row{
    font-size: 14px;
    font-weight:bold;
    background-color: #F5F5F5;
}
/*启动、暂停、取消按钮*/
.start-up,
.stop,
.cancel{
    width:44px;
    height:20px;
    color:#FFFFFF;
    border:none;
    cursor:pointer;
}
.start-up{
    background-color:#2F80E7;
}
.stop{
    background-color: #564AA3;
}
.cancel{
    background-color: #2B957A;
}
/*备注*/
.remark{
    float: right;
    margin: 20px 8px 0 0;
    font-size: 12px;
    line-height: 18px;
}
.remark span:first-child{
    color:#FF0000;
}
.remark span:last-child{
    padding-left: 42px;
}
/*翻页*/
.page{
    position:absolute;
    left:50%;
    bottom:30px;
    margin-left: -39px;
    width:104px;
    height:28px;    
}
.page ul li,
#page-btn-left,
#page-btn-right{
    float:left;
    margin-left: -1px;
    border:1px solid #DEDEDE;
    width:26px;
    height:28px;
    text-align: center; 
    line-height: 28px;
    cursor:pointer;
}
/*左翻页*/
#page-btn-left{
    background: url(../images/Triangle_r1_c1.png) no-repeat center center;
}
/*右翻页*/
#page-btn-right{
    background: url(../images/Triangle_r1_c3.png) no-repeat center center;
}
.page ul li.current{
    background-color:#0188CC;
    color:#FFFFFF;
}
