.mr35{
	margin-right: 35px;
}
/*对照背景*/
.ret{
	background-image: url(../images/login-password/register.png);
}
.ret2{
	background-image: url(../images/login-password/accomplish-register.png);
}
.password-img{
	background-image: url(../images/login-password/password1.png);
}
.password2-img{
	background-image: url(../images/login-password/password2.png);
}
.password3-img{
	background-image: url(../images/login-password/password3.png);
}
/*页眉*/
.loding-type {
    margin-top: 17px;
    background-color: #0188cc;
    font-size: 14px;
    text-align: center;
}
.loding-type a{
	display: block;
	color: #fff;
}
.header .loding-type{
	width: 120px;
	line-height: 30px;
}
.existing-account .loding-type{
	width: 140px;
	line-height: 36px;
}
/*找回密码主体内容*/
.password-position{
	margin-top: -33px;
}
.mt300{
	margin-top: 300px;
}
.retrieve-password{
	padding-top: 59px;
}
.retrieve-password h2{
	color: #010101;
	font-size: 18px;
	text-indent: 113px;
}
.progress-bar{
	height: 50px;
	margin-top: 38px;
}
.cellphone-verify{
	margin-top: 58px;
	padding-left: 530px;
	color: #999;
}
.cellphone-verify label{
	display: inline-block;
	position: absolute;
	width: 120px;
	margin: 9px 0 0 -122px;
	font-size: 14px;
	font-family: "宋体";
	text-align: right;
}
.mobile{
    width: 220px;
    height: 30px;
}
/*找回密码2*/
.mt384{
	margin-top: 384px;
}
.reset-Password{
	margin-top: 58px;
	padding-left: 528px;
	color: #999;
}
.reset-Password label{
	display: inline-block;
	position: absolute;
	width: 74px;
	margin: 9px 0 0 -74px;
	font-size: 14px;
	font-family: "宋体";
	font-weight: bold;
	text-align: left;
}
.reset-Password input{
	width: 220px;
	height: 30px;
}

.acquire-verification span{
	display: block;
	width: 120px;
	height: 30px;
	background-color: #f1881a;
	color: #fff;
	font-size: 12px;
	font-family: "宋体";
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.verification-code input{
	height: 30px;
    width: 139px;
}
.submit-box a{
	display: block;
	width: 140px;
	height: 36px;
	background-color: #0188cc;
	color: #fff;
	line-height: 36px;
	text-align: center;
}
/*找回密码3*/
.modification-succeed{
    margin: 96px 0 0 569px;
}
.modification-succeed p{
	font-weight: bold;
	color: #010101;
}
.tick-fulfill1{
	margin: -18px 0 0 -70px;
}
.access-home3{
	margin-top: 48px;
}

/*注册页(register)*/
.register{
	padding: 44px 0 257px;
}
.register-progress-box{
	height: 50px;
}
.register-header{
	margin-right: -16px;
}

/*注册页主要内容部分*/
.account-position{
	margin-top: -70px;
}
.register-details-box{
	margin: 106px 0 0 428px;
}

.tick-fulfill{
	margin: -6px 0 0 -70px;
}
.tick-fulfill,.tick-fulfill1{
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/login-password/accomplish.png);
}
.tick-fulfill img{
	margin-top: 13px;
}
.c-0188cc{
	color: #0188cc;
}
.c-999{
	color: #999;
}
.mt50{
	margin-top: 50px;
}
.access-home{
	display: block;
	width: 140px;
    height: 37px;
    background-color: #0188cc;
    color: #fff;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
}

/*注册信息填写页面*/
.img{
	background-image: url(../images/img.png);
}
.register-box{
	margin: 40px 0 0 123px;
	color: #999;
}
.register-div{
	width: 605px;
	padding: 20px 0 0 73px;
	border-right: 1px solid #ccc;
	font-weight: bold;
}
.register-div input{
	height: 30px;
}
.register-div label{
	float: left;
	width: 100px;
	margin-top: 9px;
	margin-left: -102px;
	text-align: right;
	font-size: 14px;
	font-family: "宋体";
}
.register-div .i{
	width: 260px;
}
.register-div p{
	position: absolute;
	display: inline-block;
	width: 250px;
	margin: 8px 0 0 8px;
	font-size: 12px;
	text-indent: 22px;
}
.correct-img,.mistake-img{
	position: absolute;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: -20px;
	background-image: url(../images/login-password/correct-mistake.png);
}

.correct-img{
	background-position: 0 0;
}
.mistake-img{
	background-position: 0 -20px;
}
.gain-security-code{
	margin: 15px 0;
}
.gain-security-code b{
	font-weight: normal;
}
.agreement-box{
	margin-top: 32px;
	font-size: 12px;
}
.agreement-box input{
	margin: 0;
}
.agreement-box a{
	color: #0188cc;
	font-size: 12px;
	text-decoration: underline;
}
.gain-security-code span{
	display: block;
	width: 120px;
	height: 30px;
	background-color: #ccc;
	color: #fff;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.affirm-submit{
	margin-top: 19px;
}
.affirm-submit a{
	display: block;
	width: 140px;
	height: 36px;
	background-color: #0188cc;
	color: #fff;
	font-size: 14px;
	font-family: "宋体";
	line-height: 36px;
	text-align: center;
}
.existing-account{
	width: 300px;
    margin-right: 122px;
}
.existing-account ul{
	margin-top: 18px;
}
.existing-account h2{
	margin-top: 22px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ccc;
	color: #4d4d4d;
	font-size: 14px;
	font-family: "宋体";
	font-weight: normal;
	text-indent: 12px;
}
.existing-account i{
	position: absolute;
	display: inline-block;
	width: 0;
	margin-left: -12px;
	margin-top: -1px;
	border-top: 8px solid transparent;
	border-left: 8px solid #0188cc;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.landing-account{
	background-color: #f1881a;
}