.mr35{
	margin-right: 35px;
}
/*页眉*/
.loding-type {
    margin-top: 17px;
    background-color: #0188cc;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.loding-type a{
	display: block;
}
.header .loding-type{
	width: 120px;
	line-height: 30px;
}
.existing-account .loding-type{
	width: 140px;
	line-height: 36px;
}
/*找回密码主体内容*/
.mt300{
	margin-top: 300px;
}
.retrieve-password{
	padding-top: 60px;
}
.retrieve-password h2{
	color: #010101;
	font-size: 18px;
	text-indent: 113px;
}
.progress-bar{
	width: 900px;
	margin: 36px auto 0;
}
.progress-bar>div{
	position: relative;
	width: 85px;
	padding-top: 36px;
	text-align: center;
}
.progress-bar i{
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	color: white;
	line-height: 24px;
	font-style: normal;
}
.fillout-finish{
	color: #0188cc;
}
.fillout-finish i{
	background-color: #0188cc;
}
.unfinished{
	color: #999;
}
.unfinished i{
	background-color: #dedede;
}
.replacement{
	margin-left: 322px;
}
.line:after,.line1:after{
	position: absolute;
	top: 16px;
	left: 69px;
	width: 354px;
	height: 3px;
	content: "";
}
.line:after{
	background-color: #dedede;
}
.line1:after{
	background-color: #0188cc;
}
.cellphone-verify{
	margin-top: 59px;
	padding-left: 531px;
	color: #999;
}
.cellphone-verify label{
	position: absolute;
	margin-left: -67px;
	margin-top: 9px;
}
.mobile{
    width: 220px;
    height: 30px;
}
.acquire-verification span{
	padding: 8px 10px;
	background-color: #f1881a;
	font-size: 12px;
	line-height: 30px;
	cursor: pointer;
}
.verification-code input{
	height: 30px;
    width: 139px;
}
.submit-box input{
	width: 141px;
	height: 30px;
	background-color: #0188cc;
	color: #fff;
}

/*注册页(register)*/
.register{
	padding: 44px 0 400px;
}
.register-progress-box{
	width: 954px;
	margin: 0 auto;
}
.register-progress-box > div{
	position: relative;
	width: 459px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}
.register-progress-box i{
	display: inline-block;
	width: 33px;
	height: 33px;
	margin-right: 10px;
	border-radius: 17px;
	font-style: normal;
	line-height: 33px;
}
.register-fulfill{
	color: white;
	background-color: #0188cc;
}
.register-fulfill i{
	background-color: #00a1f2;
}
.register-undone{
	background-color: #f5f5f5;
	color: #666;
}
.register-undone i{
	background-color: #dedede;
}
.fill-in-information:after{
	right: -13px;
	background-position: 0 0;
}
.fill-in-information1:after{
	right: -13px;
	background-position: -20px 0;
}
.signup-done:before{
	left: -13px;
	background-position: 0 -60px;
}
.signup-done1:before{
	left: -13px;
	background-position: -19px -60px;
}
.signup-done:before,.fill-in-information:after,.signup-done1:before,.fill-in-information1:after{
	display: inline-block;
	position: absolute;
	top: 0px;
	content: "";
	width: 13px;
	height: 50px;
	background-image: url(../images/login-password/triangle.png);
}
/*注册页主要内容部分*/
.register-details-box{
	margin: 116px 0 0 428px;
}
.tick-fulfill{
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: -6px 0 0 -70px;
	background-color: #0188cc;
	text-align: center;
}
.tick-fulfill img{
	margin-top: 13px;
}
.c-0188cc{
	color: #0188cc;
}
.c-999{
	color: #999;
}
.mt48{
	margin-top: 48px;
}
.access-home{
	display: block;
	width: 140px;
    height: 37px;
    background-color: #0188cc;
    color: #fff;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
}

/*注册信息填写页面*/
.img{
	background-image: url(../images/img.png);
}
.register-box{
	margin: 40px 0 0 123px;
	color: #999;
}
.register-form{
	width: 532px;
	margin-left: 81px;
	padding-top: 20px;
	border-right: 1px solid #ccc;
}
.register-form input{
	height: 30px;
}
.register-form label{
	float: left;
	width: 100px;
	margin-top: 8px;
	margin-left: -100px;
	text-align: right;
}
.register-form .i{
	width: 260px;
}
.register-form p{
	position: absolute;
	display: inline-block;
	margin-left: 9px;
	margin-top: 8px;
	font-size: 14px;
	text-indent: 22px;
}
.correct-img,.mistake-img{
	position: absolute;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: -20px;
	background-image: url(../images/login-password/correct-mistake.png);
}

.correct-img{
	background-position: 0 0;
}
.mistake-img{
	background-position: 0 -20px;
}
.gain-security-code{
	margin: 15px 0;
}
.gain-security-code b{
	font-weight: normal;
}
.agreement-box a{
	color: #0188cc;
	text-decoration: underline;
}
.gain-security-code span{
	display: block;
	padding: 8px 15px;
	background-color: #f1881a;
	font-size: 14px;
	cursor: pointer;
}
.affirm-submit input{
	width: 140px;
	height: 36px;
	background-color: #0188cc;
}
.existing-account{
	width: 300px;
    margin-right: 123px;
}
.existing-account ul{
	margin-top: 13px;
}
.existing-account h2{
	margin-top: 20px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ccc;
	color: #4d4d4d;
	text-indent: 10px;
}
.existing-account i{
	position: absolute;
	display: inline-block;
	width: 0;
	margin-left: -11px;
	border-top: 8px solid transparent;
	border-left: 8px solid #0188cc;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.landing-account{
	background-color: #f1881a;
}